<!--This is how Django knows where to inherit from: 'extends' and a path to the parent file-->
{% extends "learning_logs/base.html" %}

<!--Similar to the content in the parent file, anything in between block and endblock will only appear in this file-->
{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track your Learning.</h1>

    <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about.
    Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>

{% endblock page_header %}